*{
  font-family: 'Rajdhani', sans-serif;
  text-align:center;
}

body {
  color: #FFFFFF;
  background-color: #0B486B;
  text-align: center;
/*   display:flex;
  flex-flow: row wrap; */
  align-items: center;
  padding: 2em;

  span.titleBox {
    color: #CFF09E;
    font-size: 4em;
    font-weight: 700;
    border: 3px solid #CFF09E;
    border-radius: 0%;
  }

  span.noBlink {
    color: #FFFFFF;
    animation: none;
    margin: 5% 5% 5% 0;
  }
  @keyframes blinker {
    50% { opacity: 0.0; }
  }

  span.blink{
    color:#DC143C;
    animation: blinker 1s linear infinite;
    margin: 5% 0 5% 5%;
  }

  a:link {
    color: #FFFFFF;
    text-decoration: none;
  }
  a:visited {
    color: #FFFFFF;
  }
  a:hover {
    color: #DCDCDC;
  }
  a:active {
    color: #0B486B;
  }
}

.insideCells {
  width: 25%;
}

.image {
  object-fit: cover;
  border-radius: 10%;
  min-height: 300px;
  max-height: 300px;
  min-width: 300px;
  max-width: 300px;
}

.image:hover {
  opacity: 0.9;
  object-fit: cover;
  border-radius: 10%;
  min-height: 300px;
  max-height: 300px;
  min-width: 300px;
  max-width: 300px;
}

.galleryList{
  text-align: center;
  justify-content: space-between;
  /* align-items: center; */
  /* width: 33%; */
  display:flex;
  flex-flow: row wrap;
  img, p {
  }

  div {
    background-color: #0B486B;
    text-align: center;
    //Below controls how less than 4 cells align
    /* flex: 1 1 auto; */
  }
}

.headerZero{
  /* text-align: center; */
  flex: 1 1 auto;
  display:flex;
  flex-flow: row wrap;
  /* display: inline-block; */
  padding: 25px 25px 25px 25px;
}

.header1{
  /* background-color: #191970; */
  display: inline-block;
  flex: 1 1 45%;
  margin: auto;
}

.header2{
  color: #ffffff;
  /* background-color: #000000; */
  display: inline-block;
  flex: 1 1 50%;
  margin: auto;
  font-weight: 700;
}

.photoName{
  font-weight: 900;
  font-size: 2em;
  margin: 5px;
}

.photoDescription{
  font-weight: 700;
  margin: 0px;
}

.photoDate{
  font-weight: 700;
  margin: 0px 0px 10px 0px;
}

label{
  margin: 10px;
}

div.buttonOne {
  background-color: #0B486B;
  text-align: center;
  display:inline-block;
}

div.buttonTwo {
  background-color: #0B486B;
  text-align: center;
  display:inline-block;
}

form {
  margin: 15px 0px 15px 0px;
}

input {
  text-align: left;
}

textarea {
  text-align: left;
}

/*=============================================
=                PICTURE PAGE                =
=============================================*/
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-bottom: -50%;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.aside-1 > img {
  justify-content: flex-start;
  object-fit: cover;
  border-radius: 10px;
  min-height: 500px;
  max-height: 500px;
  min-width: 700px;
  max-width: 700px;
}
// .aside-2 {
//   flex-flow: column;
// }

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .aside-1 { order: 1; }
  .aside-2 { order: 2; }
}

.co {
  display:block;
  object-fit: cover;
  padding-top: 1%;
  border-radius: 10px;
  min-height: 150px;
  max-height: 150px;
  min-width: 300px;
  max-width: 300px;
}
/*=====  End of Section PICTURE PAGE  ======*/