*{
  font-family: 'Rajdhani', sans-serif;
  text-align:center;
}

body {
  color: #FFFFFF;
  background-color: #0B486B;
  text-align: center;
/*   display:flex;
  flex-flow: row wrap; */
  align-items: center;

  span.titleBox {
    color: #CFF09E;
    font-size: 4em;
    font-weight: 700;
    border: 3px solid #CFF09E;
    border-radius: 0%;
  }

  span.noBlink {
    color: #FFFFFF;
    animation: none;
    margin: 5% 5% 5% 0;
  }
  @keyframes blinker {
    50% { opacity: 0.0; }
  }

  span.blink{
    color:#DC143C;
    animation: blinker 1s linear infinite;
    margin: 5% 0 5% 5%;
  }

  a:link {
    color: #FFFFFF;
    text-decoration: none;
  }
  a:visited {
    color: #FFFFFF;
  }
  a:hover {
    color: #DCDCDC;
  }
  a:active {
    color: #0B486B;
  }
}

.insideCells {
  width: 25%;
}

.image {
  object-fit: cover;
  border-radius: 10%;
  min-height: 400px;
  max-height: 400px;
  min-width: 400px;
  max-width: 400px;
}

.image:hover {
  opacity: 0.9;
  object-fit: cover;
  border-radius: 10%;
  min-height: 400px;
  max-height: 400px;
  min-width: 400px;
  max-width: 400px;
}

.galleryList{
  text-align: center;
  /* align-items: center; */
  /* justify-content: space-between;
  width: 33%; */
  display:flex;
  flex-flow: row wrap;
  img, p {
  }

  div {
    background-color: #0B486B;
    text-align: center;
    flex: 1 1 auto;
  }
}

.headerZero{
  /* text-align: center; */
  flex: 1 1 auto;
  display:flex;
  flex-flow: row wrap;
  /* display: inline-block; */
  padding: 25px 25px 25px 25px;
}

.header1{
  /* background-color: #191970; */
  display: inline-block;
  flex: 1 1 45%;
  margin: auto;
}

.header2{
  color: #ffffff;
  /* background-color: #000000; */
  display: inline-block;
  flex: 1 1 50%;
  margin: auto;
}

.photoName{
  font-weight: 900;
  font-size: 2em;
  margin: 5px;
}

.photoDescription{
  font-weight: 700;
  margin: 0px;
}

.photoDate{
  font-weight: 700;
  margin: 0px 0px 10px 0px;
}

label{
  margin: 10px;
}

