html
  head
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Rajdhani')

div.headerZero
  div.header1
    a(href='/gallery/')
      #[span.titleBox #[span.blink _]#[span.noBlink ARCHiTEKT]]

  div.header2
    p.welcomeText Welcome to our online portfolio, we are small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovate steps. Free Architect WordPress Theme