mixin galleryList(photos)
  ul
    each photo in photos
      li
        p Photo Name
        img(src="#{photo.url}")

      //- li Photo Name img(src=`https://s-media-cache-ak0.pinimg.com/736x/d5/20/6f/d5206f766057f109aa35eb7de675c57d.jpg`)