include ../partials/header
include ../mixins/itemsList

block gallContent
  body
    div
      div.buttonAside
        button.btnBlue(type='submit') <
      div.buttonAside
        //- button.btnBlue(type='submit') <
        mixin galleryList(photos)
      div.buttonAside
        button.btnBlue(type='submit') >

div
  div.buttonAside
    form.index(method='get' action='/gallery/new')
      button.btnBlue(type='submit') NEW POST
  div.buttonAside
    form.index(method='get' action='/logout')
      button.btnRed(type='submit') LOGOUT