include ../partials/header
include ../mixins/itemsList

block gallContent
  body
    div
      mixin galleryList(photos)

div
  div.buttonOne
    form.index(method='get' action='/gallery/new')
      button.btnBlue(type='submit') NEW POST
  div.buttonTwo
    form.index(method='get' action='/logout')
      button.btnRed(type='submit') LOGOUT